<header class="header">
    <h2 class="title">My site</h2>
    <div class="nav">
        <h2 class="nav-title">Navigation</h2>
        <ul class="nav-links">
            <a class="nav-item-link" href="/">
                <li class="nav-item">Accueil</li>
            </a> 
            <a class="nav-item-link" href="/sommaire">
                <li class="nav-item">Port-folio</li>
            </a>    
            <a class="nav-item-link" href="/about">
                <li class="nav-item">À propos de moi !</li>
            </a> 
            <a class="nav-item-link" href="/contact">
                <li class="nav-item">Contact</li>
            </a>
        </ul>
    </div>
    <div class="clip-me-reverse"></div>
</header>