<%- include('partials/header') %> 
<%- include('partials/nav') %>

<main>
    <div class="lines">
        <div class="line">
            <div class="clip-me2"></div>
        </div>
        <div class="line"></div>
        <div class="line">
            <div class="clip-me1"></div>
        </div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line">
            <div class="clip-me3"></div>
        </div>
        <div class="line"></div>
    </div>
</main>
<div class="index-content">
    <section>
        <h3>A propos de ce site</h3>
        <p>Ce site vas actuellement accueillir, toutes les choses qui vont me passer par la tête.<br>
            Regroupant des sites sur lesquels j'aurai travaillé, des animations que j'aurai construite mais aussi des essais.
            Ce site vous permettra de rentrer un peu plus dans mon univers, dans ce que je fais. 
        </p>
    </section>
    <section>
        <h3>Des choses à dire.</h3>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, doloribus nam ad officia accusamus veniam ipsam? Cum, vel provident 
        itaque voluptate nulla accusantium consequatur in eveniet, fugit vitae consectetur aliquid!
        Vero iusto delectus accusamus laborum repellat corporis maxime placeat quia officia earum tempore optio, hic laboriosam, 
        fugit necessitatibus ex dolorum harum assumenda nihil repudiandae inventore, nemo itaque dolorem. Dignissimos, id.
        Esse obcaecati tenetur ad aspernatur. Neque quis minus maiores laborum repellendus dignissimos, aperiam laboriosam impedit possimus at 
        excepturi et iusto aliquid, porro quae totam iure sit. Placeat modi quos vero.
    </section>
</div>

<%- include('partials/footer') %>