<%- include('partials/header') %> 
<%- include('partials/nav') %>


<h1 class="summary"> Sommaire !</h1>
<ul>
    <li><a href="littleAnimation.html">Handmade Animations</a></li>
    <li><a href="portfolioGalery.html" class="wip">Galery of websites</a></li>
    <li><a href="gamesGalery.html" class="wip">Simples games </a></li>
</ul>
    <a class="back-summary" href="index.html">Retour Accueil</a>


<%- include('partials/footer') %>