* {
    box-sizing: border-box;
}

.wip {
    color: #c80000;
}
html, body, main {
    height: 100%;
    width: 100%;
}

body { 
    font-family: sans-serif;
    overflow: hidden;
    font-size: 3rem;
    position: relative;
    background: #1a1e2b;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(230, 126, 0);
}
h1, h2, h3 {
    font-weight: bold;
}
h1 {
    font-size: 3rem;
    margin: 1rem;
}

h3 {
    font-size: 1rem;
    margin:0.3rem;
    padding: 0.3rem;
}

.summary {
    font-size: 3em;
    border-bottom: 2px solid rgb(230, 126, 0);
    padding: 0 0.3em 0.2em 0.3em;
    }

h2 {
    font-size: 1.5rem;
    margin: 1em;
}

ul { 
    list-style-type: disc; 
    list-style-position: inside; 
    margin: 0.2rem 0;
 }
 ol { 
    list-style-type: decimal; 
    list-style-position: inside; 
 }
 ul ul, ol ul { 
    list-style-type: circle; 
    list-style-position: inside; 
    margin-left: 15px; 
 }
 ol ol, ul ol { 
    list-style-type: lower-latin; 
    list-style-position: inside; 
    margin-left: 15px; 
 }
li {
    margin: 0.3em 0;
}
a {
    text-decoration: none;
    color: rgb(230, 126, 0);
    font-weight: bold;
    padding: 0.2em;
    margin: 0.1em;
    border: 3px solid transparent;
}

a.back-summary:hover {
    border-bottom: 2px solid rgb(230, 126, 0);
}
a:visited {
    color: rgb(230, 126, 0);
}

a.wip:visited{
    color:#c80000;
}


.index-content {
    width: 50%;
    height: 100%;
    font-size: 1rem;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1250px){
    .index-content {
        left: 350px;
    }
}

@media (max-width: 900px) {
    .index-content {
        top: 200px;
        left:auto;
        width: 80%;

    }
}

